<header class="header-nuevos-clientes">
  <h1 class="title">{{ 'PEDIDOS_BAR.TITLE' | translate }}</h1>
</header>

<ion-content>
  <div *ngIf="isLoading" class="custom-spinner">
    <img src="../../../assets/icon/favicon.svg" [attr.alt]="'COMMON.LOADING' | translate" />
  </div>

  <ion-card *ngIf="!isLoading && productosPendientes.length === 0" class="no-products-card">
    <ion-card-header>
      <ion-card-title>{{ 'PEDIDOS_BAR.NO_PENDING_PRODUCTS' | translate }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let item of productosPendientes">
    <ion-card-header>
      <ion-card-title>{{ item.producto?.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ 'PEDIDOS_BAR.TABLE_LABEL' | translate }} {{ item.mesa_id }} <br>
      {{ 'PEDIDOS_BAR.QUANTITY_LABEL' | translate }} {{ item.cantidad || 1 }} <br>
      {{ 'PEDIDOS_BAR.STATUS_LABEL' | translate }} {{ EstadoProducto[item.estado] }}

      <div class="ion-margin-top">
        <ion-button
          expand="block"
          (click)="tomarProducto(item)"
          *ngIf="item.estado === EstadoProducto.ComandaRecibida"
        >
          {{ 'PEDIDOS_BAR.TAKE' | translate }}
        </ion-button>

        <ion-button
          expand="block"
          (click)="marcarComoListo(item)"
          *ngIf="item.estado === EstadoProducto.EnProceso"
        >
          {{ 'PEDIDOS_BAR.MARK_AS_READY' | translate }}
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>


<div class="modal-backdrop" *ngIf="showTiempoModal">
  <div class="modal-content">
    <h2>{{ 'PEDIDOS_BAR.ESTIMATED_TIME' | translate }}</h2>
    <p>{{ 'PEDIDOS_BAR.ESTIMATED_TIME_QUESTION' | translate:{ producto: productoSeleccionado?.producto?.nombre, cantidad: productoSeleccionado?.cantidad } }}</p>

    <ion-input
      type="number"
      min="1"
      [(ngModel)]="tiempoIngresado"
      [placeholder]="'PEDIDOS_BAR.MINUTES_PLACEHOLDER' | translate"
      autofocus
    />

    <div class="modal-buttons">
      <ion-button (click)="cancelarTiempo()">{{ 'COMMON.CANCEL' | translate }}</ion-button>
      <ion-button (click)="confirmarTiempo()">{{ 'COMMON.CONFIRM' | translate }}</ion-button>
    </div>
  </div>
</div>

</ion-content>
