<header class="header header-nuevos-clientes">
  <h1 class="title">Lista de Espera</h1>
</header>
<main class="home-supervisor-page">


  <!-- Lista de tarjetas -->
  <div class="card-list-container">

    <ion-card *ngIf="!isLoading && clientesPendientes.length === 0" class="no-products-card">
      <ion-card-header>
        <ion-card-title>No hay nadie en lista de espera</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="menu-card" *ngFor="let listaDeEspera of clientesPendientes">
      <ion-card-header>
        <ion-card-title>{{ listaDeEspera.cliente.nombre }} {{ listaDeEspera.cliente.apellido }}</ion-card-title>
      </ion-card-header>

      <ion-card-content class="cliente-card-content">
        <div class="cliente-body">
          <img [src]="listaDeEspera.cliente.foto || 'assets/img/default-user.png'" alt="Foto del cliente"
            class="cliente-foto" />

          <div class="cliente-info">
            <p><strong>Correo:</strong> {{ listaDeEspera.cliente.email || 'No disponible' }}</p>
            <p><strong>DNI:</strong> {{ listaDeEspera.cliente.dni || 'No disponible' }}</p>
            <p><strong>Edad:</strong> {{ listaDeEspera.cliente.edad || 'No disponible' }}</p>
          </div>
        </div>

        <div class="cliente-actions">
          <ion-button class="accept-btn" (click)="VerMesasDisponibles(listaDeEspera.cliente)">Asignar mesa</ion-button>
          <ion-button class="cancel-btn" (click)="rechazarCliente(listaDeEspera.cliente)">Cancelar</ion-button>
        </div>
      </ion-card-content>

    </ion-card>
  </div>
  <div *ngIf="isLoading" class="custom-spinner">
    <img src="../../../assets/icon/favicon.svg" alt="Cargando..." />
  </div>
</main>