<header class="header header-nuevos-clientes">
  <h1 class="title">{{ 'LISTA_DE_ESPERA_MAITRE.TITLE' | translate }}</h1>
</header>
<main class="home-supervisor-page">


  <!-- Lista de tarjetas -->
  <div class="card-list-container">

    <ion-card *ngIf="!isLoading && clientesPendientes.length === 0" class="no-products-card">
      <ion-card-header>
        <ion-card-title>{{ 'LISTA_DE_ESPERA_MAITRE.EMPTY_WAITLIST' | translate }}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="menu-card" *ngFor="let listaDeEspera of clientesPendientes">
      <ion-card-header>
        <ion-card-title>{{ listaDeEspera.cliente.nombre }} {{ listaDeEspera.cliente.apellido }}</ion-card-title>
      </ion-card-header>

      <ion-card-content class="cliente-card-content">
        <div class="cliente-body">
          <img [src]="listaDeEspera.cliente.foto || 'assets/img/default-user.png'" [attr.alt]="'LISTA_DE_ESPERA_MAITRE.CLIENT_PHOTO_ALT' | translate"
            class="cliente-foto" />

          <div class="cliente-info">
            <p><strong>{{ 'LISTA_DE_ESPERA_MAITRE.EMAIL_LABEL' | translate }}</strong> {{ listaDeEspera.cliente.email || ('LISTA_DE_ESPERA_MAITRE.NOT_AVAILABLE' | translate) }}</p>
            <p><strong>{{ 'LISTA_DE_ESPERA_MAITRE.DNI_LABEL' | translate }}</strong> {{ listaDeEspera.cliente.dni || ('LISTA_DE_ESPERA_MAITRE.NOT_AVAILABLE' | translate) }}</p>
            <p><strong>{{ 'LISTA_DE_ESPERA_MAITRE.AGE_LABEL' | translate }}</strong> {{ listaDeEspera.cliente.edad || ('LISTA_DE_ESPERA_MAITRE.NOT_AVAILABLE' | translate) }}</p>
          </div>
        </div>

        <div class="cliente-actions">
          <ion-button class="accept-btn" (click)="VerMesasDisponibles(listaDeEspera.cliente)">{{ 'LISTA_DE_ESPERA_MAITRE.ASSIGN_TABLE_BUTTON' | translate }}</ion-button>
          <ion-button class="cancel-btn" (click)="rechazarCliente(listaDeEspera.cliente)">{{ 'COMMON.CANCEL' | translate }}</ion-button>
        </div>
      </ion-card-content>

    </ion-card>
  </div>
  <div *ngIf="isLoading" class="custom-spinner">
    <img src="../../../assets/icon/favicon.svg" [attr.alt]="'COMMON.LOADING' | translate" />
  </div>
</main>