<ion-content [fullscreen]="true">
  <div class="splash-container">

    <div class="logo-badge" [class.visible]="showLogo">
      <img src="../../../assets/icon/favicon.svg" [attr.alt]="'SPLASH.LOGO_ALT' | translate" class="splash-logo" />
    </div>

    <h1 class="app-title" [class.visible]="showTitle">InterProto</h1>
    <p class="app-tagline" [class.visible]="showTitle">{{ 'SPLASH.TAGLINE' | translate }}</p>

    <div class="credit" [class.visible]="showAlejo">
      <span class="credit-divider"></span>
      <p class="credit-name">Alejo Falcone</p>
    </div>

  </div>
</ion-content>
