<header class="header  header-preguntas-cliente">
  <h1 class="title">Preguntar</h1>
</header>
<main class="preguntas-cliente-page">

    <ion-card *ngIf="!isLoading && preguntas.length === 0" class="no-products-card">
    <ion-card-header>
      <ion-card-title>No hay preguntas</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="preguntas-container">
    <div *ngFor="let p of preguntas" class="pregunta-card">
      <h3 class="pregunta-titulo">Tu pregunta</h3>
      <p class="pregunta-texto">{{ p.pregunta }}</p>

      <div class="respuesta-box" [class.respondida]="p.respuesta">
        <p *ngIf="p.respuesta" class="respuesta-texto">
          <strong>Respuesta:</strong> {{ p.respuesta }}
        </p>
        <p *ngIf="!p.respuesta" class="esperando">
          <em>Esperando respuesta...</em>
        </p>
      </div>
    </div>
  </div>


  <!-- Formulario fijo abajo -->
  <form class="formulario-fijo" (ngSubmit)="enviarPregunta()">
    <ion-item class="input-card" lines="none">
      <ion-input type="text" [(ngModel)]="nuevaPregunta" name="nuevaPregunta" placeholder="Escribí tu pregunta"
        required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Enviar pregunta</ion-button>
  </form>
  <div *ngIf="isLoading" class="custom-spinner">
    <img src="../../../assets/icon/favicon.svg" alt="Cargando..." />
  </div>
</main>