<header class="header header-nuevos-clientes">
  <h1 class="title">{{ 'EMPLEADOS_HOME.WELCOME' | translate }}</h1>
</header>



<main class="home-supervisor-page">
  <!-- Logo centrado -->
  <div class="logo-container">
    <img src="../../../assets/icon/favicon.svg" [attr.alt]="'EMPLEADOS_HOME.LOGO_ALT' | translate" class="login-logo" />
  </div>

  <!-- Contenedor de botones -->
  <div class="button-list-container">
    <ion-button expand="block" class="full-button" (click)="navToAltaProducto()">{{ 'EMPLEADOS_HOME.ADD_PRODUCT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" class="full-button" (click)="navTo1()">{{ 'EMPLEADOS_HOME.PENDING_ORDERS' | translate }}</ion-button>
    <ion-button expand="block" class="full-button">{{ 'EMPLEADOS_HOME.COMING_SOON' | translate }}</ion-button>
  </div>
</main>