<ion-header>
  <ion-toolbar class="app-toolbar">
    <ion-title>{{ 'DEMO.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="demo-screen">

    <div class="demo-main">
      <h2 class="country-heading">
        <span class="flag">{{ location().flag }}</span>
        {{ location().country }}
        <ion-badge class="app-badge">{{ location().currency }}</ion-badge>
      </h2>
      <p class="continent">{{ location().continent }}</p>

      <ion-list class="stats-list">
        <ion-item>
          <ion-icon name="business-outline" slot="start"></ion-icon>
          <ion-label>
            <p>{{ 'DEMO.CAPITAL' | translate }}</p>
            <h3>{{ location().capital }}</h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="people-outline" slot="start"></ion-icon>
          <ion-label>
            <p>{{ 'DEMO.POPULATION' | translate }}</p>
            <h3>{{ formatNumber(location().population) }}</h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="resize-outline" slot="start"></ion-icon>
          <ion-label>
            <p>{{ 'DEMO.AREA' | translate }}</p>
            <h3>{{ formatNumber(location().areaKm2) }} km²</h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          <ion-label>
            <p>{{ 'DEMO.CURRENCY' | translate }}</p>
            <h3>{{ location().currency }}</h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="time-outline" slot="start"></ion-icon>
          <ion-label>
            <p>{{ 'DEMO.TIMEZONE' | translate }}</p>
            <h3>{{ location().timezone }}</h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>
            <p>{{ 'DEMO.CALLING_CODE' | translate }}</p>
            <h3>{{ location().callingCode }}</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="language-outline" slot="start"></ion-icon>
          <ion-label>
            <p>{{ 'DEMO.LANGUAGE' | translate }}</p>
            <h3>{{ translate.currentLang() }}</h3>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-accordion-group class="fun-fact-accordion">
        <ion-accordion value="fun-fact">
          <ion-item slot="header" color="light">
            <ion-icon name="bulb-outline" slot="start"></ion-icon>
            <ion-label>{{ 'DEMO.FUN_FACT' | translate }}</ion-label>
          </ion-item>
          <div class="fun-fact-content" slot="content">
            {{ 'FUN_FACTS.' + location().id | translate }}
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>

    <div class="actions">
      <ion-button expand="block" fill="outline" (click)="goBackToMap()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
        {{ 'DEMO.BACK_BUTTON' | translate }}
      </ion-button>
    </div>

  </div>
</ion-content>
