<ion-content class="ahorcado-page" fullscreen>
  <div class="ahorcado-container">
    <h2 class="titulo">{{ 'AHORCADO.TITLE' | translate }}</h2>

    <div class="palabra">
      <span *ngFor="let letra of palabraMostrada">{{ letra }}</span>
    </div>

    <div class="intentos">
      {{ 'AHORCADO.ATTEMPTS_REMAINING' | translate }} <strong>{{ intentosRestantes }}</strong>
    </div>

    <div class="teclado">
      <ion-button *ngFor="let letra of abecedario" class="tecla"
        [disabled]="letrasUsadas.includes(letra) || juegoTerminado" (click)="adivinar(letra)">
        {{ letra }}
      </ion-button>
    </div>

    <div class="modal-overlay" *ngIf="juegoTerminado">
      <div class="modal-card">
        <p *ngIf="gano" class="ganaste">{{ 'AHORCADO.WIN_MESSAGE' | translate }}</p>
        <p *ngIf="!gano" class="perdiste">
          {{ 'AHORCADO.LOSE_MESSAGE' | translate }}<br><small>{{ 'AHORCADO.WORD_WAS' | translate }}</small><br><strong>{{ palabra }}</strong>
        </p>
        <ion-button expand="block" (click)="reiniciarJuego()">{{ 'AHORCADO.PLAY_AGAIN' | translate }}</ion-button>
      </div>
    </div>
  </div>
</ion-content>