<ion-content class="juego-mayor-menor" fullscreen>
  <div class="juego-container">
    <h2 class="titulo">{{ 'MAYOR_MENOR.TITLE' | translate }}</h2>

    <div class="carta">
      <p>{{ 'MAYOR_MENOR.CURRENT_CARD' | translate }}</p>
      <div class="numero">{{ cartaActual }}</div>
    </div>

    <div class="botones">
      <ion-button expand="block" (click)="elegir('mayor')" [disabled]="mostrarModal">{{ 'MAYOR_MENOR.HIGHER' | translate }}</ion-button>
      <ion-button expand="block" (click)="elegir('menor')" [disabled]="mostrarModal">{{ 'MAYOR_MENOR.LOWER' | translate }}</ion-button>
    </div>

    <div class="info">
      <p>{{ 'MAYOR_MENOR.CORRECT_GUESSES' | translate }} {{ aciertos }}</p>
      <p>{{ 'MAYOR_MENOR.LIVES' | translate }} ❤️ x{{ vidas }}</p>
    </div>
  </div>

<div class="modal-overlay" *ngIf="mostrarModal">
  <div class="modal-card">
    <p *ngIf="gano" class="ganaste">{{ 'MAYOR_MENOR.WIN_MESSAGE' | translate }}</p>
    <p *ngIf="!gano" class="perdiste">
      {{ 'MAYOR_MENOR.LOSE_MESSAGE' | translate }}<br />
      <small>{{ 'MAYOR_MENOR.OUT_OF_LIVES' | translate }}</small>
    </p>
    <ion-button expand="block" (click)="reiniciarJuego()">{{ 'MAYOR_MENOR.PLAY_AGAIN' | translate }}</ion-button>
  </div>
</div>
</ion-content>
