<header class="header header-nuevos-clientes">
  <h1 class="title">{{ 'HOME_SUPERVISOR.TITLE' | translate }}</h1>
</header>
<ion-button fill="clear" slot="end" class="logout-button" (click)="CerrarCesion()">
  {{ 'COMMON.LOGOUT' | translate }}
  <ion-icon slot="start" name="arrow-back"></ion-icon>
</ion-button>


<main class="home-supervisor-page">
  <!-- Logo centrado -->
  <div class="logo-container">
    <img src="../../../assets/icon/favicon.svg" [attr.alt]="'HOME_SUPERVISOR.LOGO_ALT' | translate" class="login-logo" />
  </div>

  <!-- Contenedor de botones -->
  <div class="button-list-container">
    <ion-button expand="block" class="full-button" (click)="navTo('/clientes-supervisor')"> {{ 'HOME_SUPERVISOR.CLIENTS_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" class="full-button" (click)="navTo('/alta-mesa')">{{ 'HOME_SUPERVISOR.TABLES_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" class="full-button" (click)="navTo('/reservas-supervisor')">{{ 'HOME_SUPERVISOR.RESERVATION_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" class="full-button">{{ 'HOME_SUPERVISOR.DELIVERY_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" class="full-button">{{ 'HOME_SUPERVISOR.COMING_SOON_BUTTON' | translate }}</ion-button>
  </div>
</main>