<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'HOME.BLANK_TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'HOME.BLANK_TITLE' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
sdadas
  <div id="container">
    <strong>{{ 'HOME.READY_TO_CREATE' | translate }}</strong>
    <p>{{ 'HOME.START_WITH_IONIC' | translate }} <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">{{ 'HOME.UI_COMPONENTS' | translate }}</a></p>
  </div>
</ion-content>
