<header class="header header-nuevos-clientes">
  <h1 class="title">{{ 'ESTADO_PEDIDO_CLIENTE.TITLE' | translate }}</h1>
</header>
<ion-icon slot="start" name="arrow-back"></ion-icon>


<main class="home-supervisor-page">
  <!-- Logo centrado -->
  <div class="logo-container">
    <img src="../../../assets/icon/favicon.svg" [attr.alt]="'ESTADO_PEDIDO_CLIENTE.LOGO_ALT' | translate" class="login-logo" />
  </div>

  <!-- Contenedor de botones -->
  <div class="button-list-container">

    <ion-button expand="block" (click)="confirmarRecepcion()" class="white-button full-button">
      {{ estadoPedido}}
    </ion-button>


    <ion-button expand="block" class="full-button" [disabled]="!puedeLlenarEncuesta"
      (click)="navTo('/encuesta-cliente')">{{ 'ESTADO_PEDIDO_CLIENTE.COMPLETE_SURVEY' | translate }}</ion-button>
    <ion-button expand="block" class="full-button" [disabled]="!puedePedirLaCuenta" (click)="pedirCuenta()">{{ 'ESTADO_PEDIDO_CLIENTE.REQUEST_BILL' | translate }}</ion-button>
    <ion-button expand="block" class="full-button" [disabled]="!puedePedirLaCuenta" (click)="navTo('/ahorcado')">{{ 'ESTADO_PEDIDO_CLIENTE.HANGMAN_GAME' | translate }}</ion-button>
    <ion-button expand="block" class="full-button" [disabled]="!puedePedirLaCuenta"
      (click)="navTo('/mayor-menor')">{{ 'ESTADO_PEDIDO_CLIENTE.HIGHER_LOWER_GAME' | translate }}</ion-button>




  </div>

  <div class="overlay-orden" *ngIf="verOrdenOverlay">
    <h2>{{ 'ESTADO_PEDIDO_CLIENTE.YOUR_BILL_TITLE' | translate }}</h2>

    <div class="logo-container-overlay">
      <img src="../../../assets/icon/favicon.svg" [attr.alt]="'ESTADO_PEDIDO_CLIENTE.ICON_ALT' | translate" class="login-logo-overlay" />
    </div>

    <div *ngFor="let entry of productosConCantidad" class="orden-linea">
      <div>{{ entry.producto.nombre }} x{{ entry.cantidad }}</div>
      <div>${{ calcularSubtotal(entry) }}</div>
    </div>

    <div *ngIf="propinaSeleccionada > 0" class="orden-linea">
      <div>{{ 'ESTADO_PEDIDO_CLIENTE.TIP_LABEL' | translate }}</div>
      <div>${{ propinaSeleccionada }}</div>
    </div>
    <ion-button  class="full-button" [disabled]="!puedePedirLaCuenta"
      (click)="abrirPropinaOverlay()">{{ 'ESTADO_PEDIDO_CLIENTE.ADD_TIP' | translate }}</ion-button>
    <div class="orden-total">
      {{ 'ESTADO_PEDIDO_CLIENTE.TOTAL_LABEL' | translate:{ value: totalOrden + propinaSeleccionada - descuento } }}
    </div>

    <ion-button expand="full" class="aceptar-btn" (click)="pagarCuenta()">
      {{ 'ESTADO_PEDIDO_CLIENTE.MAKE_PAYMENT' | translate }}
    </ion-button>

    <ion-button expand="full" class="cerrar-btn" (click)="cerrarOverlayOrden()">
      {{ 'ESTADO_PEDIDO_CLIENTE.CLOSE' | translate }}
    </ion-button>
  </div>


  <div class="overlay-orden" *ngIf="verPropinaOverlay">
    <h2>{{ 'ESTADO_PEDIDO_CLIENTE.ADD_TIP' | translate }}</h2>

    <div class="logo-container-overlay">
      <img src="../../../assets/icon/favicon.svg" [attr.alt]="'ESTADO_PEDIDO_CLIENTE.ICON_ALT' | translate" class="login-logo-overlay" />
    </div>

    <!-- Mostrar propina en grande -->
    <div class="propina-monto">
      ${{ propinaSeleccionada || 0 }}
    </div>

    <!-- Botones de porcentaje -->
    <div class="propina-buttons-container">
      <ion-button class="propina-btn" (click)="seleccionarPropina(5)">5%</ion-button>
      <ion-button class="propina-btn" (click)="seleccionarPropina(10)">10%</ion-button>
      <ion-button class="propina-btn" (click)="seleccionarPropina(15)">15%</ion-button>
    </div>

    <ion-input class="input-propina" type="number" [placeholder]="'ESTADO_PEDIDO_CLIENTE.TIP_PLACEHOLDER' | translate" [(ngModel)]="propinaPersonalizada"
      (ionInput)="actualizarPropinaPersonalizada()"></ion-input>

    <ion-button expand="full" class="aceptar-btn" (click)="confirmarPropina()">
      {{ 'ESTADO_PEDIDO_CLIENTE.ACCEPT' | translate }}
    </ion-button>

    <ion-button expand="full" class="cerrar-btn" (click)="cerrarPropinaOverlay()">
      {{ 'ESTADO_PEDIDO_CLIENTE.CLOSE' | translate }}
    </ion-button>
  </div>


  <div *ngIf="isLoading" class="custom-spinner">
    <img src="../../../assets/icon/favicon.svg" [attr.alt]="'COMMON.LOADING' | translate" />
  </div>
</main>