<header class="header header-nuevos-clientes">
  <h1 class="title">{{ 'HOME_CLIENTE.WELCOME' | translate }}</h1>
</header>
<ion-button fill="clear" slot="end" class="logout-button" (click)="CerrarCesion()">
  {{ 'COMMON.LOGOUT' | translate }}
  <ion-icon slot="start" name="arrow-back"></ion-icon>
</ion-button>


<main class="home-supervisor-page">
  <!-- Logo centrado -->
  <div class="logo-container">
    <img src="../../../assets/icon/favicon.svg" [attr.alt]="'HOME_CLIENTE.LOGO_ALT' | translate" class="login-logo" />
  </div>

  <!-- Contenedor de botones -->
  <div class="button-list-container">

    <ion-button expand="block" class="full-button" (click)="navTo('/qr-code-scanner')">{{ 'HOME_CLIENTE.SCAN' | translate }}</ion-button>
    <ion-button expand="block" class="full-button" (click)="navTo('/ver-encuestas')" [disabled]="!(showEncuesta || showMenu || estaEnListaDeEspera)">{{
      'HOME_CLIENTE.VIEW_SURVEYS' | translate }}</ion-button>
    <ion-button expand="block" class="full-button" (click)="navTo('/cliente-menu')"
      [disabled]="!showMenu">{{ 'HOME_CLIENTE.MENU' | translate }}</ion-button>
    <ion-button expand="block" class="full-button" (click)="navTo('/preguntas-cliente')" [disabled]="!showMenu">{{
      'HOME_CLIENTE.TALK_TO_WAITER' | translate }}</ion-button>
    <ion-button expand="block" class="full-button" (click)="navTo('/reserva-cliente')" [disabled]="!isRegisteredClient">{{
      'HOME_CLIENTE.RESERVATION_BUTTON' | translate }}</ion-button>

  </div>
  <div *ngIf="isLoading" class="custom-spinner">
    <img src="../../../assets/icon/favicon.svg" [attr.alt]="'COMMON.LOADING' | translate" />
  </div>
</main>